
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
/.env
/.env.test
/.idea/.gitignore
/bin/console
/.idea/CoupDPot.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/bin/phpunit
/phpunit.xml.dist
/.idea/symfony2.xml
/.idea/vcs.xml
