{% extends 'base.html.twig' %}

{% block title %}Mon profil | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ton profil !</h1>

        {{ form_start(profileForm) }}
        {{ form_widget(profileForm) }}
        <label for="city">Ville</label><br>
        <select type="text" name="city" id="register_ville" class="custom-select" id="inputGroupSelect01"></select><br>
        <button class="btn btn-warning bg-warning text-dark mt-4" type="submit" id="btnValider">Enregistrer</button>
        {{ form_end(profileForm) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        // Méthode Ajax faisant appel à l'Api du gouv pour récupérer la ville via le codePostal
        $(document).ready(function () {
            $('#btnValider').on('click', function(){
                var text = $('#register_ville option:selected').text();
                $('#register_city').val(text);
            })
            $('#register_zip').on("blur", function () {
                ajaxCall();

            });
            $('#register_ville').on("mouseenter", function(){
                ajaxCall();
            })

            function ajaxCall() {
                var zip = $('#register_zip').val();
                var ville = $('#register_ville');
                ville.text('');
                $.ajax({
                    url: 'https://geo.api.gouv.fr/communes?codePostal=' + zip + '&fields=nom&format=json&geometry=centre',
                    method: "get",
                    dataType: "json",
                    contentType: "application/json"
                }).done(function (result) {
                    for (var i = 0; i < result.length; i++) {
                        var element = $('<option></option>').text(result[i].nom);
                        ville.append(element);
                    }
                })
            }
        })
    </script>
{% endblock %}

